@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Mulish', sans-serif;
}

.container {
  margin: auto;
  width: 1500px;
  height: 600px;
  padding: 10px;
  border: 1px lightgray solid;
  border-radius: 10px;
}

.divider {
  height: 100%;
}

.panel-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  .floating-action-bar {
    height: 80px;
    text-align: center;
  }
}

.auto-saved-by-default {
  font-size: 12px;
  text-align: right;
  color: rgb(148, 148, 148);
  font-style: italic;
  margin-top: 20px;
}

.thirty-percent-width {
  width: 30%;
}

.hundred-percent-width {
  width: 70%;
}

.find-replace-panel {
  display: grid;
  grid-template-columns: 50px 1fr 1fr 40px;
  column-gap: 15px;
  row-gap: 5px;
  width: 100%;
  height: fit-content;

  .MuiOutlinedInput-root {
    height: 35px;
  }
}

.url-panel {
  display: grid;
  grid-template-columns: 50px 1fr 40px;
  column-gap: 15px;
  row-gap: 5px;
  width: 100%;
  height: fit-content;

  .MuiOutlinedInput-root {
    height: 35px;
  }
}

.header-title {
  margin: auto;
  font-weight: bold;
  cursor: pointer;
}

.bulk-edit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main-screen {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  height: 100%;
  gap: 5px;
}